@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Belleza&family=Roboto&display=swap');

body{
  font-family: 'Architects Daughter', cursive;
  font-family: 'Belleza', sans-serif;
  font-family: 'Roboto', sans-serif;
}